:root {
    /* COLORS */
    --color-base: #2D2A32;
    --color-font: #FAFDF6;
    --color-btn: #00BD9D;
    --color-var: #0B5D1E; 

    /* FONTS */
    --font-family: 'nunito';

    --width-card: 40rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    /* ALTERA O CALCULO PARA 1rem = 10px */
    font-size: 62.5%;

    font-family: var(--font-family);
}

body {
    background-color: var(--color-base);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 128rem;
    padding: 2rem;
}

.home {
    height: 100vh;
    width: 100%;
}

.container-copy {
    padding: 2rem;
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copywriting {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 10rem;

    color: var(--color-btn);

    margin-bottom: 6rem;
}

.logo span {
    font-size: 12rem;
    color: var(--color-font);
}

.copywriting p {
    font-size: 2.5rem;
    width: auto;

    color: var(--color-font);
    margin-bottom: 6rem;
}

.btn {
    padding: 2rem;
    background-color: var(--color-btn);
    border-radius: .9rem;

    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-font);
}

.img-copy {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-copy img {
    width: 100%;
    position: absolute;
}

.img-copy .astronauta {
    animation: fluter 2s infinite ease ;
}

.divisor {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 0;
}

.divisor h5 {
    font-size: 2rem;
    color: var(--color-font);
    margin-bottom: .5rem;
}

.divisor i {
    font-size: 3rem;
    color: var(--color-btn);
    animation: fluter 5s infinite ease-in-out;
    
}

@keyframes fluter {
    0%, 100% {
        transform: translateY(-.5rem);
    }
    50% {
        transform: translateY(0);
    }
}

/* SERVICES ------------------------------------ */

.service {
    height: 100dvh;
    width: 100%;
}

/* FOOTER ------------------------------------ */

footer {
    width: 100%;
    height: 30rem;
    padding: 5rem;
    background: linear-gradient(var(--color-base), var(--color-btn));
}

.container-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand {
    margin-top: 10rem;
}

.brand p {
    font-size: 1.2rem;
    color: var(--color-font);
}

.social {
    margin-top: 10rem;
}

.social a {
    text-decoration: none;
    margin-right: 2rem;
}

.social a i {
    font-size: 3rem;
    scale: 1;
    color: var(--color-font);

    transition: all 300ms ease-in-out;
}

.social a i:hover {
    scale: 1.5;
    transform: translateY(-1rem);
    color: var(--color-btn);
}

.logo-alt {
    font-size: 5rem;
}

.logo-alt span {
    font-size: 7rem;
}

@media screen and (max-width: 600px) {
    .container-copy {
        display: block;
        position: relative;
    }

    .copywriting {
        height: 50%;
        width: 90%;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .img-copy{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        
    }

    .logo {
        margin: 0 auto;
        font-size: 4rem;
    }

    .logo span {
        font-size: 5rem
    }

    .copywriting p {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;
    }

    .btn {
        font-size: .9rem;
    }

    .divisor h5 {
        font-size: 1rem;
    }

    /* SECTION SERVICES --------------------------------------------- */

    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service h2 {
        color: var(--color-font);
    }

    .container-cards {
        height: 90%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .cards {
        display: flex;
        height: 100%;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
    }

    .card {
        display: flex;
        gap: 2rem;
        background-color: var(--color-btn);
        height: 190px;
        border-radius: 1rem;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        color: var(--color-font);
    }

    .card-content i {
        font-size: 2.5rem;
    }

    .card-content h4 {
        font-size: 1.5rem;
    }

    .card-content p {
        font-size: 1.2rem;
        text-align: center;
    }

    .btnPrevNext {
        display: none;
    }


    /* FOOTER ------------------------------------------------------------ */

    footer {
        height: 20rem;
    }
    .container-footer {
        display: felx;
        flex-direction: column;
        padding: auto;
    }

    .brand {
        margin: 0 auto;
    }

    .logo-alt {
        font-size: 2.5rem;
    }

    .logo-alt span {
        font-size: 3.5rem;
    }

    .social {
        margin: 0 auto;
        padding: 1rem 0rem;
    }

    

}

@media screen and (min-width: 601px) and (max-width: 1023px) {
    /* SECTION HERO------------------------------------------- */

    .logo {
        font-size: 5rem;
    }

    .logo span {
        font-size: 7rem;
    }

    .copywriting p {
        font-size: 1.9rem;
    }

    .btn {
        font-size: 1rem;
        padding: 1.6rem;
    }

    .divisor h5 {
        font-size: 1.2rem;
    }

    .divisor i {
        font-size: 1.5rem;
    }


    /* SECTION SERVICES------------------------------------------- */
    .service {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service h2 {
        width: 100%;
        color: var(--color-font);
        margin-bottom: 2rem;
    }

    .container-cards {
       width: 50%;
       height: 50%;
       position: relative;
       margin-top: 5rem;
       border-radius: 1rem;
       
    }

    .cards {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        overflow: hidden;
        border-radius: 1rem;
        
    }

    .card {
        display: flex;
        flex: 0 0 100%;

        background-color: var(--color-btn);
        border-radius: 1rem;
        /* margin-right: 1rem; */
        transform: translateX(0);
        
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        height: 100%;
        padding: 2rem;
        border-radius: 1rem;
        color: var(--color-font);
        font-size: 1.5rem;
        font-size-adjust: 0.58;
        text-align: center;
    }

    .btnPrevNext {
        position: absolute;
        width: 120%;
        height: 100%;
        left: -10%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .prev, .next {
        background-color: transparent;
        backdrop-filter: blur(6px);
        border: none;
        border-radius: 50%;
    }

    .prev i, .next i {
        font-size: 2rem;
        color: var(--color-font);
    }
}


@media screen and (min-width: 1024px) {
    /* SECTION SERVICES------------------------------------------- */
    .service h2 {
        padding: 5rem;
        font-size: 3rem;
        color: var(--color-font);
        margin-bottom: 4rem;
    }

    .container-cards {
        margin: 0 auto;
        width: var(--width-card);
        height: 250px;
        position: relative;
        perspective: 1000px;
        margin-top: 10rem;
        /* 
        https://scroll-driven-animations.style/tools/view-timeline/ranges/#range-start-name=contain&range-start-percentage=0&range-end-name=contain&range-end-percentage=50&view-timeline-axis=block&view-timeline-inset=0&subject-size=smaller&subject-animation=fly-in&interactivity=clicktodrag&show-areas=yes&show-fromto=yes&show-labels=yes
            informacção do efeito scroll nativo
        */
        animation: fly-in linear both;
        animation-timeline: view(block);
        animation-range: contain 0% contain 50%;

    }

    @keyframes fly-in {
        from {
            opacity: 0;
            transform: translate(0, 100dvh);
        }
        to {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
    .cards {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        /* transform: translateY(40%); */
        transition: transform 1s;
    }

    .card {
        display: block;
        position: absolute;
        width: var(--width-card);
        height: 250px;
        font-size: 16px;
        text-align: center;
        opacity: .90;
        border-radius: 10px;
    }

    .analise-dados {
        transform: rotateY(0deg) translateZ(var(--width-card));
        background-color: var(--color-btn);
    }

    .automatizacao-relatorios {
        transform: rotateY(120deg) translateZ(var(--width-card));
        background-color: var(--color-btn);
    }

    .visualizacao-dinamica {
        transform: rotateY(240deg) translateZ(var(--width-card));
        background-color: var(--color-btn);
    }
    .card-content {
        display: flex;
        flex-direction: column;
        height: 80%;
        align-items: center;
        justify-content: space-around;

    }

    .card-content i {
        font-size: 3rem;
        margin-top: 1rem;
        color: var(--color-font);
    }

    .card-content h4 {
        font-size: 2rem;
        color: var(--color-font);
    }

    .card-content p {
        font-size: 2rem;
        color: var(--color-font);
        padding: 1rem;
    }

    .btnPrevNext {
        display: flex;
        width: calc(var(--width-card)*2.5);
        align-items: center;
        justify-content: space-between;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-30%, 150%);
    }

    .prev, .next {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        opacity: .5;
        transition: opacity 1s ease-in-out;
        scale: 1;
    }

    .prev i, .next i {
        color: var(--color-font);
        font-size: 4rem;
    }

    .prev:hover, .next:hover {
        opacity: 1;
    }

    .prev:active, .next:active{
        scale: .5;
    }
}



